version: '3.8'

services:
  web:
    build: .
    command: gunicorn luxiscript.wsgi:application --bind 0.0.0.0:8000
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - DEBUG=False
      - DATABASE_URL=postgres://luxiscript:luxiscript@db:5432/luxiscript
    depends_on:
      - db

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=luxiscript
      - POSTGRES_USER=luxiscript
      - POSTGRES_PASSWORD=luxiscript

volumes:
  postgres_data:
